@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body{
    background-color: black;
}


.delete-container{
    display: flex;
    justify-content: space-between;
}

input.second-input{
background-color: rgb(56, 55, 55);
}

.delete-container button {
    margin-left: 50px;
    background-color: black;
    color: white;
}

.button-container {
margin-left: 30px;
text-align: center;
}
.logo-container {
    display: inline-block;
    margin-right: 10px; 
  }

body {
    background-color: #1a1a1a
}

.box-container {
    background-color: white;
    border-radius: 20px;
    /* font-family: 'Luckiest Guy', cursive; */
}

.first-button {
    margin-left: 300px;
    height: 50px;
}
.button{
    background-color: red;
}
.title {
    font-family: 'Luckiest Guy', cursive;
    background-color: blue;
    word-spacing: 10%;
    color:#fff;
    border-radius: 30px;
}
.title-box button{
    margin-left: 80px;
    background-color: black;
    color: white;
}




input.input-box{
    background-color: rgb(56, 55, 55);
}




.input-box{
    margin-left: 33px;
    margin-bottom: 20px;
}

.todo-icon {
    height: 100px;
    width: 50px;
}
  
.delete-box {
    margin-right: 20px;
}

.button-container button{
    /* background-color: blue; */
}  
.delete-box button {
    /* background-color: blue; */
}

button:hover {
    outline: 5px solid blue; 
  }
